<style>
    .IN-widget.applied:before{
        content: "Profile attached!"
    }

    .IN-widget.applied:hover:before{
        content: "Detach profile";
        color: #FF9801;
    }
    #show-profile-url{
        float: left;
        display: block;
        color: #384146;
        font-size: 12px;
        text-align: left;
    }
</style>

<script type="text/javascript" src="http://platform.linkedin.com/in.js">
    api_key: <%= linkedin_api_key %>
    authorize: true
    onLoad: onLinkedInLoad
</script>

<script type="in/Login"></script>
<div id="show-profile-url"></div>
<% content_for :javascript do %>
<script type="text/javascript">

    // Setup an event listener to make an API call once auth is complete
    function onLinkedInLoad() {
        console.log("linkedin load: ")
        IN.Event.on(IN, "auth", getProfileData);
    }

    // Handle the successful return from the API call
    function onSuccess(data) {
        console.log("linkedin success: ", data);
//        if(data.firstName && data.firstName.length){
//            $name = $("[name='vacancy_request[name]']")
//            $name.val(data.firstName)
//            $name.trigger("keyup")
//        }
        var url = data.publicProfileUrl
        if(url && url.length > 0) {
            input = document.getElementById('linkedin_profile_url')
            input.setAttribute("data-url", url)
            input.value = data.publicProfileUrl


            $(".IN-widget").addClass("applied")
            $("#show-profile-url").text(url)
        }
    }

    // Handle an error response from the API call
    function onError(error) {
        console.log("linkedin error: ", error);
    }

    // Use the API call wrapper to request the member's profile data
    function getProfileData() {


        IN.API.Raw("/people/~:(id,firstName,skills,educations,languages,twitterAccounts,emailAddress,summary,publicProfileUrl)")
                .result(onSuccess).error(onError);

    }

    $(document).on("ready", function(){

    })

    $("body").on("click", ".IN-widget", function(){
        var $input = $("#linkedin_profile_url")
        var attach = $input.hasAttribute("data-url")
        var url = $input.attr("data-url")
        if(url && url.length > 0){
            $input.attr(url)
        }
        var $widget = $(".IN-widget")
        var $show_profile_url = $("#show-profile-url")
        if($widget.hasClass("applied")){
            $widget.removeClass("applied")
            $show_profile_url.text("")
            $input.val("")
        }
        else{
            if(url && url.length > 0) {
                $widget.addClass("applied")
                $show_profile_url.text(url)
                $input.val(url)
            }
        }
    })

</script>
<% end %>