<!-- Slide -->
                       <li>
                               <div class="container">
                                       <div class="row">
                                               <div class="ghi">
                                                       <div class="col-md-6 col-sm-6 col-xs-12 p_tex ter_im">
                                                               <img src="img/healthca.jpg" alt="alt">
                                                               <h3 class="section_h3 ins_h3"><span class="sh3_bg"><</span>Industries <span class="chos_sbg">we help </span><span class="sh3_bg">></span></h3>
                                                       </div>
                                                       <div class="col-md-6 col-sm-6 col-xs-12 p_ot">
                                                               <h3 class="et_zah"><a href="ebaut.html">Manufacturing & Logistics</a></h3>
                                                               <p>Fluent in a range of major technologies, our highly-skilled software engineers have significant experience of successfully bringing different products from concept to production, of catering to different business requiremen
                                                               </p>
                                                               <a class="uz" href="">Learn more</a>
                                                       </div>
                                               </div>
                                       </div>
                               </div>
                       </li>
                       <!-- Slide -->
                       <li>
                               <div class="container">
                                       <div class="row">
                                               <div class="ghi">
                                                       <div class="col-md-6 col-sm-6 col-xs-12 p_tex ter_im">
                                                               <img src="img/healthca.jpg" alt="alt">
                                                               <h3 class="section_h3 ins_h3"><span class="sh3_bg"><</span>Industries <span class="chos_sbg">we help </span><span class="sh3_bg">></span></h3>
                                                       </div>
                                                       <div class="col-md-6 col-sm-6 col-xs-12 p_ot">
                                                               <h3 class="et_zah"><a href="ebaut.html">Media & Publishing</a></h3>
                                                               <p>Fluent in a range of major technologies, our highly-skilled software engineers have significant experience of successfully bringing different products from concept to production, of catering to different business requiremen
                                                               </p>
                                                               <a class="uz" href="">Learn more</a>
                                                       </div>
                                               </div>
                                       </div>
                               </div>
                       </li>
                       <!-- Slide -->
                       <li>
                               <div class="container">
                                       <div class="row">
                                               <div class="ghi">
                                                       <div class="col-md-6 col-sm-6 col-xs-12 p_tex ter_im">
                                                               <img src="img/healthca.jpg" alt="alt">
                                                               <h3 class="section_h3 ins_h3"><span class="sh3_bg"><</span>Industries <span class="chos_sbg">we help </span><span class="sh3_bg">></span></h3>
                                                       </div>
                                                       <div class="col-md-6 col-sm-6 col-xs-12 p_ot">
                                                               <h3 class="et_zah"><a href="ebaut.html">Travel & Hospitality</a></h3>
                                                               <p>Fluent in a range of major technologies, our highly-skilled software engineers have significant experience of successfully bringing different products from concept to production, of catering to different business requiremen
                                                               </p>
                                                               <a class="uz" href="">Learn more</a>
                                                       </div>
                                               </div>
                                       </div>
                               </div>
                       </li>
                       <!-- Slide -->
                       <li>
                               <div class="container">
                                       <div class="row">
                                               <div class="ghi">
                                                       <div class="col-md-6 col-sm-6 col-xs-12 p_tex ter_im">
                                                               <img src="img/healthca.jpg" alt="alt">
                                                               <h3 class="section_h3 ins_h3"><span class="sh3_bg"><</span>Industries <span class="chos_sbg">we help </span><span class="sh3_bg">></span></h3>
                                                       </div>
                                                       <div class="col-md-6 col-sm-6 col-xs-12 p_ot">
                                                               <h3 class="et_zah"><a href="ebaut.html">Retail & Distribution</a></h3>
                                                               <p>Fluent in a range of major technologies, our highly-skilled software engineers have significant experience of successfully bringing different products from concept to production, of catering to different business requiremen
                                                               </p>
                                                               <a class="uz" href="">Learn more</a>
                                                       </div>
                                               </div>
                                       </div>
                               </div>
                       </li>
                       <!-- Slide -->
                       <li>
                               <div class="container">
                                       <div class="row">
                                               <div class="ghi">
                                                       <div class="col-md-6 col-sm-6 col-xs-12 p_tex ter_im">
                                                               <img src="img/healthca.jpg" alt="alt">
                                                               <h3 class="section_h3 ins_h3"><span class="sh3_bg"><</span>Industries <span class="chos_sbg">we help </span><span class="sh3_bg">></span></h3>
                                                       </div>
                                                       <div class="col-md-6 col-sm-6 col-xs-12 p_ot">
                                                               <h3 class="et_zah"><a href="ebaut.html">Entertainment & Gaming  </a></h3>
                                                               <p>Fluent in a range of major technologies, our highly-skilled software engineers have significant experience of successfully bringing different products from concept to production, of catering to different business requiremen
                                                               </p>
                                                               <a class="uz" href="">Learn more</a>
                                                       </div>
                                               </div>
                                       </div>
                               </div>
                       </li>
