$orange-color: #f90
$orange-text-color: $orange-color


$light-box-shadow: 0px 0px 1px 0px #000

$light-gray-bg-color: #ECEFF1
$light-gray-text-color: #ECEFF1

$light-blue-gray-text-color: rgba(163, 186, 200, 0.85)

$blue-color: #78909C
$blue-text-color: $blue-color

$transition-duration: 0.4s

$body-font-size: 1rem