@import "sass-css3-mixins/css3-mixins.sass"
@import "css3_mixins"
@import "sass-flex-mixin/flexbox"


@import "application_config"
// Bootstrap css
@import "bootstrap.min"
@import "mixins"
// Fonts css

$local-only: false

@import "fonts"

@import "owl.carousel"
@import "owl.theme"
@import "owl.transitions"

// css main heder superslides
@import "superslides"

// css Sidebar Navigation  Main page
@import "jquery.onepage-scroll-0.0.1"

@import "jquery.bxslider"

@import "animate"

@import "basic"

// General css
@import "main"



// Adaptation css
@import "media"

// pages
@import "components/sticky_footer"
@import "application_layout"

// for services
@import "slider-pro.min"

@import "map"

@import "member"
@import "media_member"

@import "services"

@import "process"



@import "about"
@import "media_process"



@import "industries"

@import "career"
@import "media_career"

@import "contacts"

@import "articles"

@import "application/feedbacks"
@import "sitemap"

html
	font-size: 16px
body
	font-size: 1em


p
	line-height: 30px


html.highlight-tags
	h1, h1 *
		color: red !important

	h2, h2 *
		color: yellow !important

	h3, h3 *
		color: green !important

	h4, h4 *
		color: blue !important

	h5, h5 *
		color: pink !important

	h6, h6 *
		color: violet !important

