.read-also-header
	display: block
	text-align: center
	color: $light-gray-text-color
	background: $blue-color
	height: 50px
	line-height: 50px
	+orbitron

.read-also-content
	background: $light-gray-bg-color
	padding: 16px
	ul
		list-style: none
		position: relative
		padding: 0 0 0 10px
		margin: 0
	li
		line-height: 15px
		font-size: 12px
		padding-bottom: 8px

		&:before
			left: 0
			content: "●"
			color: $blue-text-color
			position: absolute
			display: inline-block
			font-weight: 400
			font-size: 10px
			line-height: inherit

		&:last-child
			padding-bottom: 0
	a
		color: $blue-text-color
		font-weight: 100




.article-content
	padding-bottom: 90px
	ul
		+article-ul
		li
			+article-li

	ol
		+article-ol

		li
			+article-ol-li


	h3, .h3
		font-size: $body-font-size
		font-weight: 500

	h2, .h2
		font-size: 18px
		font-weight: 500



	a
		color: $orange-text-color


	.quote, blockquote
		width: rem(600)
		max-width: 100%
		margin: rem(40) auto rem(50) auto
		background: image_url("punktuation.png") no-repeat 15px top
		background-size: rem(48) rem(30)
		padding-top: 34px
		border: none




	.quote.quote-orange, blockquote
		background-image: image_url("cc-quote-orange.svg")
		background-position-x: -3px
		color: $orange-text-color

		.quote-text
			color: $orange-text-color

			a
				text-decoration: underline

	.quote-author
		text-align: right
		font-size: rem(12)
		color: $blue-color

.read-also-section
	background: $light-gray-bg-color
	padding: 0 0 100px 0

.blog-read-also-header
	+orbitron
	font-weight: 500
	font-size: 28px
	text-transform: uppercase
	margin: 40px 0 30px 0