.tags
	ul
		display: inline-block
		padding-left: 70px

	li
		display: inline-block
		margin-bottom: 3px



		a
			display: block
			padding: 0 12px
			border: 1px solid $light-black-color
			color: $light-black-color
			+transition-duration(0.5s)
			+transition-property(all)
			text-decoration: none


		&.checked
			a
				background: $light-black-color
				color: $orange-text-color
		&:hover
			a
				color: $orange-text-color


.tags-title, .authors-title
	+orbitron-light
	font-size: rem(15)

.tags
	+flexbox


.sorting-directions
	.asc, .desc
		height: 30px
		width: 30px
		display: inline-block
		border: 1px solid $light-black-color
		color: $light-black-color
		+transition-duration(0.5s)
		+transition-property(all)
		text-align: center
		line-height: 30px
		cursor: pointer

		&.checked
			background: $light-black-color
			color: $orange-text-color
			cursor: default

		&:hover
			color: $orange-text-color


.articles
	.article-item
		margin-bottom: 15px
		margin-top: 15px


.article-name
	height: 60px
	overflow: hidden


.blog-index-container
	padding-bottom: 75px

.articles-preloader
	padding: 15px 0
	text-align: center


.sorting-properties, .sorting-directions
	display: inline-block

.sorting-properties
	vertical-align: top




// blog article show

.article-info
	padding: 20px 15px
	background: $light-gray-bg-color
	text-align: center

.article-info__author
	margin-bottom: 20px

	&:first-child:last-child
		margin-bottom: 0

.article-info__author__avatar
	margin-bottom: #{rem(10)}

	img
		border-radius: 50%
		border: 1px solid $light-black-color

.article-info__author__name
	+orbitron-light

.article-info__date
	+ubuntu-light-italic
	color: $light-blue-gray-text-color
	font-size: rem(14)


.share_button
	+button
	float: none
	display: inline-block
	margin: rem(35) 0 0 0
	color: white

	&:visited
		+button-visited

	&:hover
		+button-hover

	&:active
		+button-active




@media (max-width: 767px)
	.article-item
		width: 50%

@media (max-width: 640px)
	.article-item
		position: relative !important
		width: 450px
		max-width: 100%
		margin-left: auto
		margin-right: auto
		//margin-left: 10%
		//margin-right: 10%
		float: none !important
		top: auto !important
		left: auto !important

	.sorting
		width: 450px
		max-width: 100%
		margin: 0 auto
		+flexbox

		.sorting-properties
			+flex-grow(1)
			padding-right: 20px

			.simpleselect
				width: 100%

				&.active
					.options
						width: 100%





@media (max-width: rem(767))
	[data-controller="blog"][data-action="show"]
		.breadcrumbs
			margin-bottom: rem(10)
