/* ---------------------------------------------------------
	1. Career
		1.1 Header
		1.2 About The New Site
        1.3 Our services include
---------------------------------------------------------*/

/* ---------------------------------------------------------
   Header
---------------------------------------------------------*/
.header_style_career{
  position: relative;
}
.title_page.title_page_career{
  z-index: 3;
  //top: 15%;
  top: 50%;
  @include transform(translateY(-50%));

}
.career_header {
  background: #32393F image_url("career_bg_dotted.png") repeat;
  height: 100vh !important;
  min-height: 600px;
}
.sect_clogan.choos_bgp_carer {
  color: #B2BDC3;
}
.title_page.title_page_career .page-name {line-height: 52px; background: transparent; span{padding: 0 !important;background: transparent !important;} }

.career_send_message {
  text-transform: uppercase;
  color: #334144;
  background: #FF9801;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: 500;
  font-family: "Orbitron", sans-serif;
  font-size: $body-font-size;
}
.career_send_message:hover{
  text-decoration: none;
  background: #fff;
  color: #FF9801;
}
.career_tagline {
  width: 50%;
  margin: 0 auto;
  color: #AAB5BB;
  font-style: italic;
  font-weight: 200;
  font-size: $body-font-size;
  margin-top: 30px;
}

/* ---------------------------------------------------------
   Header Beautiful jQuery Countdown Timer
---------------------------------------------------------*/


/* ---------- TIMER ---------- */
ul#countdown {
  padding: 0;
}
ul#countdown li {
  display: inline-block;
  background: #fff;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 170px;
  width: 170px;
  padding-top: 14px;
  margin-right: 75px
}
ul#countdown li:last-child {
  margin-right: 0px;
}
ul#countdown li span {
  font-size: 72px;
  font-family: "Orbitron", sans-serif;
  font-weight: 500;
  color: #374047;
  line-height: 108px;
  position: relative;
  letter-spacing: 4px;
  padding-top: 27px;
}
ul#countdown li span.seconds_bg{color: #f90;}
/*
ul#countdown li span::before {
  content: '';
  width: 100%;
  height: 1px;
  border-top: 1px solid white;
  position: absolute;
  top: 31px;
}*/
ul#countdown li p.timeRefDays, ul#countdown li p.timeRefHours, ul#countdown li p.timeRefMinutes, ul#countdown li p.timeRefSeconds {
  color: #909091;
  font-size: 21px;
  font-weight: 200;
  font-style: italic;
  line-height: 7px;
}
.career_until_opening {
  text-align: right;
  color: #AAB5BB;
  font-style: italic;
  font-weight: 200;
  font-size: $body-font-size;
}
.timer_until_opening {
  display: inline-block;
  width: 960px;
  max-width: 100%;
}
/* ---------------------------------------------------------
   End Header Beautiful jQuery Countdown Timer
---------------------------------------------------------*/























/* ---------------------------------------------------------
   About The New Site
---------------------------------------------------------*/

.career {
  padding: 50px 0 100px 0;
  background: #fff;
}
.row_career_infb {
  margin-top: 37px;
}
.intro_career {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: $body-font-size;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 15px;
  color: #78909c;
}
.career_info_block {
  text-align: center;
  font-weight: 500;
  color: #597582;
  font-size: $body-font-size;
  padding-top: 104px;
  margin-bottom: 30px;
}
.cib_1{background: image_url("careersvacancies.png") no-repeat top center;}
.cib_2{background: image_url("career_benefits.png") no-repeat top center;}
.cib_3{background: image_url("careerscybercraft.png") no-repeat top center;}
/* ---------------------------------------------------------
   Footer form
---------------------------------------------------------*/
.career_footer_form {
  background: #32393F image_url("career_bg_dotted.png") repeat;
  border-bottom: 1px solid #29343A;
  padding: 30px 0 125px 0;
  
  @media (max-width: rem(767)) {
    padding-bottom: rem(35);
  }
}

.career-form-outer{
  @media (max-width: rem(767)) {
    padding: 0 15px;
  }
}
.section_h3.sect_career_foot {
  color: #fff;
}
.with_black_arrows.with_black_arrows_carerr_foot:before, .with_black_arrows.with_black_arrows_carerr_foot:after {
  color: #f90;
}



footer .intro_career_foot p,  .success-message p{
  @include ubuntu-light-italic;
  font-size: $body-font-size;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 15px;
  color: #B4BDC4;
  line-height: 19px;
}
.intro_career_foot {
  margin-bottom: 50px;
}
.foot_required {
  color: #384146;
  font-size: 14px;
  transition: .3s all linear;
  cursor: text;
  font-weight: normal;
  font-weight: 300;
  font-style: italic;
  letter-spacing: -0.2px;
  margin-top: 10px;
}
.foot_f.career_foot_f [type="submit"] {
  margin-top: 0px;
}
.section_h3.h3_messag.career_black_arrows {
  text-align: center;

}
.section_h3.h3_messag.career_black_arrows span{
  color: #383F45;
}
.career_form_a_canter {
  text-align: center;
}
.career_form_a, .IN-widget {
  display: block;
  width: 100%;
  border: 1px solid #374047;
  text-transform: uppercase;
  color: #384146;
  font-weight: 500;
  font-size: 15px;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 0px;
  margin-bottom: 10px;
  @include transition(0.3s all);
}

.IN-widget{
  height: 36px;
  line-height: 40px !important;
  cursor: pointer;
  position: relative;


  *{
    //opacity: 0 !important;
  }

  &:before{
    content: "Attach linkedin";
  }

  > span{
    width: 100%;
    position: absolute !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
  }
}
.career_form_a, .IN-widget{
  &:hover {
    background: #fff;
    border: 1px solid #fff;
    color: #374047;
  }
}
.foot_title_career {
  background: #fff;
  padding: 10px 15px;
  position: relative;
  z-index: 888;
}
.foot_title_career {
  text-align: center;
  padding: 20px 0;
}
.foot_title_career span{
  padding-right: 12px;
}
.foot_title_career a, .foot_title_career p{
  font-size: 15px;
  font-weight: 500;
  color: #373E44;
  line-height: 10px;
  display: block;
  letter-spacing: -0.5px;
}

#career-members{
  background: $light-gray-bg-color;

  .section_h3{
    margin: 50px 0 30px 0;
  }
}

.attach-file-button{
  cursor: pointer;
  float: left;
  line-height: 40px;
  height: 36px;

  .icon-wrap{
    margin-right: 10px;
    position: relative;
    top: -2px;
  }

  &.attached{
    .icon-wrap{
      display: none;
    }
  }
}

.filename{
  float: left;
  display: block;
  color: #384146;
  font-size: 12px;
}

.career-form{
  .actions-row{

  }
}


@media (max-width: rem(767)){
  .foot_title_career{
    padding-left: rem(15);
    padding-right: rem(15);
  }

  .career-form{
    .actions-row{
      margin-top: rem(24);
    }

    .submit-buttons-row{
      margin-top: rem(30);
    }
  }
}


#career-countdown{
  time {
    width: 100%;
    @include flexbox;
    @include justify-content(space-around);
  }

  .item{
    display: inline-block;
    background: #FFF;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 170px;
    width: 170px;
    padding-top: 14px;
    //margin-right: 75px;


  }

  .number{
    font-size: 72px;
    font-family: "Orbitron", sans-serif;
    font-weight: 500;
    color: #374047;
    line-height: 108px;
    position: relative;
    letter-spacing: 4px;
    padding-top: 27px;
    top: 15px;
  }

  .label{
    display: block;
    color: #909091;
    font-size: 21px;
    font-weight: 200;
    font-style: italic;
    line-height: 7px;
  }

  span{
    padding: 0;
    &:before, &:after{
      display: none !important;
    }
  }



  @media only screen and (max-width : 992px) {
    .item {height: 140px;width: 140px;margin-right: 35px;}
    .number {font-size: 50px;line-height: 80px;}
    .label{
      font-size: 19px;}
  }

  @media only screen and (max-width : 768px) {
    .item {height: 110px;width: 110px;margin-right: 20px;}
    .number {font-size: 35px;line-height: 55px;display: inline-block;padding: 0; padding-top: 7px;top: 7px;}
  }

  @media only screen and (max-width : 600px) {
    .career_tagline {width: 95%;}
    .item {height: 80px;width: 80px;margin-right: 20px;}
    .number {font-size: 25px;line-height: 46px;padding: 0;padding-top: 0px;}
    .label { font-size: 13px;}
  }

  @media only screen and (max-width : 480px) {
    .item {height: 65px;width: 65px;margin-right: 5px;    padding-top: 12px;}
    .number {font-size: 25px;line-height: 30px;top: 3px;}

  }
}
