html[data-action='contacts']
	.map_boxshadow
		margin-top: 0

.contacts-map-wrap
	position: relative

.contacts-map
	height: 400px
	max-height: 80vh

.contacts-page-contact-data-and-form
	margin-bottom: 80px

	.cont_information
		box-shadow: none

	.social-icons-p
		.f_icon
			float: left
