.intro
	+ubuntu-light-italic
	font-size: 16px
	text-align: center
	margin-top: 48px
	margin-bottom: 15px


.icons-in-show
	.icon
		float: left
		background-color: $light-gray-bg-color
		img
			max-width: 100%