@function font-url($url)
	@return "/assets/fonts/#{$url}"

= light
	font-weight: 300

= bold
	font-weight: 600

= orbitron
	font-family: 'Orbitron', sans-serif

= orbitron-medium
	+orbitron
	font-weight: 500
	font-style: normal

= orbitron-light
	+orbitron
	+light


= orbitron-regular
	+orbitron
	font-weight: 400
	font-style: normal

= orbitron-bold
	+orbitron
	+bold


= ubuntu
	font-family: 'Ubuntu', sans-serif

= ubuntu-medium
	+ubuntu
	font-weight: 500


= ubuntu-light-italic
	+ubuntu
	+light
	font-style: italic

= ubuntu-italic
	+ubuntu
	font-style: italic



= article-ul
	list-style: none
	position: relative
	padding-left: 10px

= article-li
	margin-bottom: 10px
	line-height: 20px

	&:before
		left: 0
		content: "●"
		color: $orange-text-color
		position: absolute
		display: inline-block
		font-weight: 400
		font-size: 10px
		line-height: inherit