/* ---------------------------------------------------------
  Step
---------------------------------------------------------*/
.step {
  background: #fff;
  padding: 50px 0;
}
.step_slogan {
  @include orbitron-medium;
  text-align: center;
  font-size: $body-font-size;
  color: #384046;
  letter-spacing: 0.2px;
  margin-bottom: 42px;
}
.step_d_bg {
  overflow: hidden;
  background: #383F45;
  text-align: center;
  width: 100%;
  padding: 15px 0 15px;
}
.step_inf_blok {
  background: #EBEFF2;
  padding: 27px;
  padding-bottom: 40px;
  margin-bottom: 80px;
}
.step_h3 {
  @include orbitron-regular;
  color: #fff;
  font-size: 24px;

  letter-spacing: 2.6px;
  margin: 5px 0;
  text-transform: uppercase;
}
.step_h3 span{
  color: #ff9800;
  letter-spacing: 1.9px;}
.st_img {
  position: relative;
  text-align: center;
}
.st_img:after{
  content: '';
  position: absolute;
  width: 10px;
  height: 100px;
  bottom: -102px;
  left: 55px;
  background: #000;
  background: url(step_arrow.png) no-repeat center bottom;
}
.st_img_4:after{display: none;}
.st_cont h3 {
  @include ubuntu-medium;
  color: #384046;
  margin: 1px 0;

  font-size: 21px;
  margin-bottom: 14px;
}
.st_cont p {
  @include ubuntu;
  color: #384046;
  margin: 1px 0;

  font-size: 17px;
  line-height: 21px;
}
.cont_st_step {
  float: none!important;
}

.step_blokinfic {
  padding: 0;
  margin-top: 25px;
  margin-bottom: 55px;
}

.step_blokinfic li{
  list-style-type: none;
  padding-left: 54px;
  margin-bottom: 23px;
  padding-bottom: 20px;
}
.bloc_iconbor1{background: url(iconprocess.png) no-repeat top left;}
.bloc_iconbor2{background: url(iconprocess_02.png) no-repeat top left;}
.bloc_iconbor3{background: url(iconprocess_03.png) no-repeat top left;}
.bloc_iconbor4{background: url(iconprocess_04.png) no-repeat top left;}
.bloc_iconbor5{background: url(iconprocess_05.png) no-repeat top left;}
.step_blokinfic li p{
  font-size: $body-font-size;
}
.step_blokinfic li p span{
  @include ubuntu-medium;
}

#step-4{
  .step_h3{
    width: 1060px;
    margin: 0 auto;
    max-width: 100%;
  }
}