/h1
  |Page title: #{@page_banner_title.inspect}
/h1
  |Page banner: #{@page_banner_image.inspect}
- condition = @page_banner != false && (@page_banner_image.present? || @page_banner_title.present?)
/h1
/h1
  |Condition: #{condition.inspect}
- if condition
  /! header of the page
  header.header_style
    /! title_page
    .title_page
      .container
        .row
          h1.page-name
            span
              = @page_banner_title
    /! End title_page
    .fon_header.fon_services style=("background-image: url(#{@page_banner_image})" if @page_banner_image.present?) class=("has-bg-image" if @page_banner_image.present? )
    /! and header of the page