/* ---------------------------------------------------------
  Baner bottom
---------------------------------------------------------*/
.bt_baner {
  background-position: top center;
  background-repeat: no-repeat;
  background-size:cover;
  padding: 135px 0;
}
.bot_foot_baner {
  background: #000;
  background: rgba(0, 0, 0, 0.6);
  padding: 28px 25px;
  padding-bottom: 16px;
  position: relative;
}
.bot_foot_baner:after{
  content: '';
  background: image_url("brackets.png") no-repeat top center;
  position: absolute;
  top: -19px;
  left: 8px;
  width: 47px;
  height: 33px;}
.bot_foot_baner p{
  color: #fff;
  text-align: center;
  font-size: 19px;
}