.breadcrumbs {
  background: #383F45;
  margin-bottom: 70px;
}
.breadcrumbs_cont a, .breadcrumbs_cont p{
  @include orbitron-regular;
  font-size: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin: 0;
  letter-spacing: 1px;
}
.breadcrumbs_cont a {
  display: inline-block;
  //color: #51636D;
  //color: #536D79;
  color: rgba(163, 186, 200, 0.85);
}
.breadcrumbs_cont a:hover{
  color: #CC8312;
  text-decoration: none;
}
.breadcrumbs_cont p {
  display: inline-block;
  color: #CC8312;
}
.breadcrumbs_cont span {
  padding: 0 3px;
  color: #51636D;
}

html{
  @each $k in ('industries', 'teams', 'blog') {
    &[data-controller=#{$k}] {
      body {
        background: white;
      }
    }
  }

  @each $k in ('contacts', "terms_of_use", "privacy_policy") {
    &[data-action=#{$k}] {
      body {
        background: white;
      }
    }
  }
}