.breadcrumbs {
  background: #383F45;
  margin-bottom: 70px;
}
.breadcrumbs_cont a, .breadcrumbs_cont p{
  @include orbitron-regular;
  font-size: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin: 0;
  letter-spacing: 1px;
}
.breadcrumbs_cont a {
  display: inline-block;
  //color: #51636D;
  color: #536D79;
}
.breadcrumbs_cont a:hover{
  color: #CC8312;
  text-decoration: none;
}
.breadcrumbs_cont p {
  display: inline-block;
  color: #CC8312;
}
.breadcrumbs_cont span {
  padding: 0 3px;
  color: #51636D;
}

html{
  @each $k in ('industries', 'teams') {
    &[data-controller=industries] {
      body {
        background: white;
      }
    }
  }
}