.header_style {
  position: relative;
  height: 400px;
}
.fon_header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-attachment: fixed !important;
  background-position: center top;
  background-repeat: no-repeat;

}
.fon_services {

}


.fon_header{
  &:not(.has-bg-image){
    background: rgba(56, 64, 70, 1) image_url("career_bg_dotted.png") repeat;

    .title_page {
      h1{
        background: transparent;
      }
    }
  }
}


.title_page {
  position: absolute;
  width: 100%;
  top: 42%;
  text-align: center;
}
.title_page .page-name {
  @include orbitron-regular;
  font-weight: 500;
  font-style: normal;
  color: #fff;
  background: rgba(56, 64, 70, 0.8);
  margin-bottom: 0px;
  line-height: 59px;
  font-size: 30px;
  padding: 10px 0px;
  display: inline;
  margin: 0;
  letter-spacing: 2.9px;
  text-transform: uppercase;
}
.title_page {
  .page-name span {
    padding: 0 20px;

    &:first-child:before, &:last-child:after{
      color: #f90;
    }

    &:first-child:before{
      content: "<";
    }

    &:last-child:after{
      content: ">";
    }
  }

  &:not(.constant-breaks) {
    .page-name span {
      @media (max-width: rem(992)) {
        & {
          display: block;
          background: rgba(56, 64, 70, 0.8);
          margin: 0 32px;
          line-height: 1.25;
          padding: 25px 10px 25px 10px;
          font-size: 21px;
        }
      }
    }
  }
}





.navigationleft{
  position: fixed;
}

.header-logo{
  position: fixed;
}

.pushy{
  position: fixed;
}

.menu-btn{
  &:hover{
    .menuicon{
      background-color: $orange-color !important;
      //box-shadow: none;
    }
  }
}


// top banner
.title_page{
  //@include transition-duration(1ms);
  //@include transition-property(all);
}

.header_style{
  overflow: hidden;
}


.top-nav{
  position: fixed;
  z-index: 21;
  width: 100%;
  height: 100px;
  @include transition-property(all);
  @include transition-duration(1s);
  background: $blue-color;
  @include transform(translateY(-100px));

  &.scrolled{
    @include transform(translateY(0));
  }

  &.scrolled, &.visible{
    & + .navigationleft, & ~ .header-logo{
      @include transform(translateY(0));
    }
  }



  .pushy-active &{
    background: transparent;
  }


}


.navigationleft, .header-logo{
  @include transition-property(all);
  @include transition-duration(1s);

  @include transform(translateY(-100px));
}

.header-logo, .logo{
  svg{
    width: 105px;
  }
}


a.header-logo, a.logo{
  &:hover{
    svg{
      *{
        fill: $orange-color;
      }
    }
  }
}




@include scrollbars(8px, $blue-color);

@include scrollbar-thumb{
  @include transition(0.4s all);
}

html.scrollstart{
  @include scrollbar-thumb{
    background: $orange-color;
  }
}


// flex
.pushy{
  @include flexbox;
  @include flex-direction(column);

  //.logo_menu{
  //  @include flex(1 0 auto);
  //}
  //
  //.pushymenu{
  //  @include flex(1 0 auto);
  //}

  .logo-and-menu{
    @include flex(1 0 auto);
  }

  .push_icon{
     position: relative;
  }


}